__pycache__/
*.py[cod]
*$py.class

.env/
.ipynb_checkpoints/
*.pt
*.pth
*.h5
*.pkl
models/
checkpoints/
logs/
train/
thisisatestmodel.zip
runs/
results/
*.mp4
*.gif
recordings/
videos/
.idea/
.DS_Store
Thumbs.db
